.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 736px;
  height: 54px;
  left: calc(50% - 736px / 2);
  top: 173px;
}

.input {

  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  
  width: 638px;
  height: 54px;
  
  /* Gray 500 */
  
  background: #262626;
  /* Gray 700 */
  
  border: 1px solid #0D0D0D;
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  margin-left: 5px;

  width: 90px;
  height: 52px;

  color: var(--gray-100);
  border: 0px;

  background: var(--blue-500);
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: initial;
  width: 736px;
  height: 451px;
  left: calc(50% - 736px / 2);
  top: 291px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.display {
  display: flex;
}

.column{
  display: flex;
  flex-direction: row;
}

.criadas{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 138px;
height: 19px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.criadasCount{
width: 106px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

color: #4EA8DE;

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 138px;
height: 19px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.concluidasCount{
  width: 78px;
  height: 17px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  /* Purple */
  
  color: #8284FA;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.criadasCounter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;
  
  width: 52px;
  height: 19px;
  
  /* Gray 400 */
  
  background: #333333;
  border-radius: 999px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tarefasCount{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.concluidasCounter{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 10px;

width: 52px;
height: 19px;

/* Gray 400 */

background: #333333;
border-radius: 999px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}