.content {

  width: 632px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  max-width: 736px;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: var(--gray-300);

}

.contentCheckboxChecked {

  width: 632px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  max-width: 736px;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-decoration-line: line-through;

  /* Gray 300 */

  color: var(--gray-300);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.commentList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox {

  width: 1.3em;
  height: 1.3em;
  background-color: var(--gray-500);
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid var(--blue-500);

  appearance: none;

  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.checkbox:checked {
  background: #5e60ce;
  margin: 10px;
}

.trash {
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: none;
  width: 24px;
  height: 24px;

  border-radius: 4px;
}

.tarefas-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 736px;
  height: 451px;
  left: calc(50% - 736px / 2);
  top: 291px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tarefas {
  box-sizing: border-box;
  justify-content:flex-start;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  
  margin: 10px 0 0 0;

  width: 736px;
  height: 72px;

  background: #262626;

  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.criadas {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 138px;
  height: 19px;

  flex: none;
  order: 0;
  flex-grow: 0;
}